extends ./layout.jade
  
block content
  header
    h1 "I'm learning Jade and Express!"
    p "Stumptown scenester pour-over, cray cornhole 90's street art artisan farm-to-table selfies literally jean shorts retro. Flannel ethical chambray YOLO freegan quinoa bitters. Banh mi yr bicycle rights 3 wolf moon, banjo shoreditch plaid cred squid quinoa echo park semiotics sustainable raw denim dreamcatcher. Poutine meh leggings gentrify, fap banh mi vinyl PBR&B williamsburg marfa meggings beard cronut pinterest. Mlkshk humblebrag hella beard, flannel microdosing williamsburg. Direct trade listicle 90's vice salvia. Trust fund fashion axe swag, pitchfork affogato cred keytar YOLO everyday carry synth."
